@import 'colors';

$side_margin: 10vw;
$top_margin: 5rem;

$side_margin_mobile: 2rem;
$top_margin_mobile: $side_margin_mobile;

#content{
    padding-left: $side_margin;
    padding-top: $top_margin;
    padding-right: $side_margin;
    box-sizing: border-box;
    background: $background_color;

    @media screen and (max-width: 700px), screen and (max-height: 600px) {
        padding-left: $side_margin_mobile;
        padding-right: $side_margin_mobile;
        padding-top: $top_margin_mobile;
    }
}

.posts-section{

    width: 100%;
    margin-bottom: 8rem;

    h2{
        font-size: 1.5rem;
        font-weight: 400;
    }

    .posts-list{

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media screen and (max-width: 900px) {
            flex-wrap: wrap;
        }

        margin-top: 2rem;

        .post{

            flex: 1 1;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 44rem;

            margin-right: 2.5rem;
            @media screen and (max-width: 900px) {
                margin-right: 0;
                margin-bottom: 2rem;
                flex: unset;
                min-height: unset;
            }                

            img{
                max-width: 100%;
                height: 20rem;
                object-fit: cover;

                @media screen and (max-width: 1600px) {
                    height: 15rem;
                }

                @media screen and (max-width: 1200px) {
                    height: 10rem;
                }

                @media screen and (max-width: 900px) {
                    height: 20rem;
                }

            }


            h3{
                font-size: 2.5rem;
                margin-top: 1rem;
                margin-left: -3px;

                @media screen and (max-width: 1200px) {
                    font-size: 2rem;
                }
            }


            .place-link {
                text-decoration: none;
                color: $accent_color;
            }

            .post-info-item{
                margin-bottom: 0rem;
            }

            span{
                margin-top: 4px;
            }

            .read-post-link{

                $vertical_padding: 8px;


                text-align: center;
                width: 100%;
                text-decoration: none;
                display: inline-block;
                border: 2px solid $accent_color;
                padding-top: $vertical_padding + 4px;
                padding-bottom: $vertical_padding;
                font-weight: bold;
                font-size: 1.2rem;
                margin-top: auto;
                @media screen and (max-width: 900px) {
                    margin-top: 2rem;
                }

                transition: background 0.2s, color 0.2s;

            }

            .read-post-link:hover{
                background: $accent_color;
                color: $background_color;
            }

        }
    }
}
