// BUTTON STYLING
.hamburger{
    span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        
        background: $hamburger_color;
        border-radius: 3px;
        
        z-index: 1;

    }
}

.closebutton{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}





// FUNCTIONALITY
.hamburger{
    display: none;
}


#navmenu{

    .closebutton{
        display: none;
    }

    ul{
        list-style: none;
        li {
            display: inline;
            padding-left: 1rem;
            padding-right: 1rem;
            a{
                text-decoration: none;
            }
        }
    }
}


@media screen and (max-width: 60rem){
    .hamburger{
        display: initial;
    }

    #navmenu{

        height: 100%;
        width: 50%;
        padding: 2rem;
        background: rgb(31, 31, 31);
        color: white;
        z-index: 2;
    
        position: fixed;
        top: 0;
        right: -200%;
    
        transition: right 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    
        display: flex;
        flex-flow: column;
        align-items: flex-end;

        -webkit-box-shadow: -4px 0px 11px 0px rgba(0,0,0,0.37);
        -moz-box-shadow: -4px 0px 11px 0px rgba(0,0,0,0.37);
        box-shadow: -4px 0px 11px 0px rgba(0,0,0,0.37);

        .closebutton{
            display: initial;
        }
    
        ul{
            list-style: none;
            text-align: end;
            li{
                padding-bottom: 1rem;
                padding-top: 1rem;
                padding-right: unset;
                font-weight: bold;
                font-size: 1.2rem;
                display: block;
                a{
                    text-decoration: none;
                }
            }
        }
    }
    
    #navmenu:target{
        right: 0;
    }
}















