@import 'colors';

$side_margin: 10vw;
$top_margin: 5rem;

$side_margin_mobile: 2rem;
$top_margin_mobile: $side_margin_mobile;

#content{

    padding-left: $side_margin;
    padding-top: $top_margin;
    padding-right: $side_margin;
    box-sizing: border-box;
    background: $background_color;

    @media screen and (max-width: 700px), screen and (max-height: 600px) {
        padding-left: $side_margin_mobile;
        padding-right: $side_margin_mobile;
        padding-top: $top_margin_mobile;
    }

    margin-bottom: 8rem;

    #section-header{
        margin-bottom: 3rem;
    }

    a{
        @media screen and (max-width: 700px) {
            width: 100%;
        }
    }

    #places-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .place-card{
            height: 18rem;
            width: 27rem;
            position: relative;

            background-size: cover;
            background-position: bottom;

            border-radius: 10px;
            
            margin-bottom: 2rem;
            margin-right: 2rem;

            @media screen and (max-width: 700px) {
                height: 18rem;
                width: 100%;
                margin-right: unset;
            }


            .place-name-section{
                position: absolute;
                width: 100%;
                bottom: -1px;
                left: 0;

                background: snow;
                height: 4rem;

                display: flex;
                align-items: center;
                padding-left: 1rem;

                box-sizing: border-box;

                .place-name{
                    font-weight: bold;
                    font-size: 1.1rem;
                }

                @media screen and (max-width: 700px) {
                    height: 3rem;

                    .place-name{
                        font-weight: bold;
                        font-size: 1rem;
                    }
                }

                border-radius: 0px 0px 10px 10px;
            }

            -webkit-box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.3);
            box-shadow: 3px 4px 7px 0px rgba(0,0,0,0.3);


            transition: -webkit-box-shadow 0.2s;
            transition: -moz-box-shadow 0.2s;
            transition: box-shadow 0.2s;


        }

        a:hover{
            .place-card{
                -webkit-box-shadow: 7px 11px 25px 0px rgba(0,0,0,0.3);
                -moz-box-shadow: 7px 11px 25px 0px rgba(0,0,0,0.3);
                box-shadow: 7px 11px 25px 0px rgba(0,0,0,0.3);
            }
        }

    }


    #pagination{

        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 4rem;

        .pagination-item{

            font-size: 1.3rem;
            display: inline-block;
            box-sizing: border-box;
            

            a {
                
                text-decoration: none;
                border-bottom: 1px solid $accent_color;
                padding-bottom: 1rem;
                
            }
        }

    }
        
}