@import 'colors';

$side_margin: 10vw;
$top_margin: 5rem;

$side_margin_mobile: 1.5rem;
$top_margin_mobile: $side_margin_mobile;

#content{
    padding-left: $side_margin;
    padding-top: $top_margin;
    padding-right: $side_margin;
    box-sizing: border-box;
    background: $background_color;

    @media screen and (max-width: 700px), screen and (max-height: 600px) {
        padding-left: $side_margin_mobile;
        padding-right: $side_margin_mobile;
        padding-top: $top_margin_mobile;
    }



    #post-info{
        
        $vertical_padding: 1rem;
        
        border-top: 2px solid $font_color;
        border-bottom: 2px solid $font_color;
        max-width: 20rem;
        @media screen and (max-width: 700px) {
            max-width: unset;
        }

        padding-top: $vertical_padding;
        padding-bottom: $vertical_padding;

        margin-top: 2rem;


        #post-author{
            // font-size: 2rem;   
        }

        #post-date{
            // font-size: 1.5rem;
            font-weight: 400;
        }

    }



    #post-body{

        margin-top: 2rem;
        font-size: 1.1rem;
        line-height: 1.5rem;
        
        p{
            padding-right: $side_margin * 3;
            margin-top: 1rem;
            margin-bottom: 1rem;

            @media screen and (max-width: 700px) {
                padding-right: unset;
            }
        }

        img{
            max-width: 100%;
            max-height: 90vh;
            // margin-bottom: 2rem;
        }

    }


    #related-posts{
        padding-right: $side_margin * 3;
        @media screen and (max-width: 700px) {
            padding-right: unset;
        }

        margin-top: 4rem;
        margin-bottom: 2rem;

        h3{
            margin-bottom: 1rem;
            font-size: 1.5rem;
        }

        #related-posts-grid{

            

            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;

            @media screen and (max-width: 700px) {
                display: unset;
            }

            .post{

                display: flex;
                flex-flow: column;
                justify-content: space-between;

                h3{
                    margin-top: 1rem;
                    font-size: 2rem;
                    margin-bottom: 8px;
                }

                img{
                    width: 100%;
                    object-fit: cover;
                }

                span{
                    margin-top: 4px;
                }

                .place-link {
                    text-decoration: none;
                    color: $accent_color;
                }

                .read-post-link{

                    $vertical_padding: 8px;
    
    
                    text-align: center;
                    width: 100%;
                    text-decoration: none;
                    display: inline-block;
                    border: 2px solid $accent_color;
                    padding-top: $vertical_padding + 4px;
                    padding-bottom: $vertical_padding;
                    font-weight: bold;
                    font-size: 1.2rem;
                    margin-top: 2rem;
                    transition: background 0.2s, color 0.2s;
    
                }
    
                .read-post-link:hover{
                    background: $accent_color;
                    color: $background_color;
                }

            }


            .post:nth-child(1){
                grid-row: 1/2;
                grid-column: 1/3;
                margin-bottom: 2rem;

                img{
                    height: 30rem;
                    @media screen and (max-width: 1400px) {
                        height: 20rem;
                    }
                    @media screen and (max-width: 900px) {
                        height: 15rem;
                    }
                    @media screen and (max-width: 700px) {
                        height: 15rem;
                    }
                }
            }

            .post:nth-child(n+2){

                h3{
                    @media screen and (max-width: 1200px) {
                        font-size: 1.5rem;
                    }
                    @media screen and (max-width: 700px) {
                        font-size: 2rem;
                    }
                }

                @media screen and (max-width: 700px) {
                    margin-bottom: 2rem;
                }

                img{
                    height: 18rem;

                    @media screen and (max-width: 1500px) {
                        height: 14rem;
                    }

                    @media screen and (max-width: 1200px) {
                        height: 10rem;
                    }

                    @media screen and (max-width: 700px) {
                        height: 15rem;
                    }
                }
            }

            .post:nth-child(2){
                margin-right: 1rem;
                @media screen and (max-width: 700px) {
                    margin-right: 0;
                }

                
            }

            .post:nth-child(3){                
                margin-left: 1rem;

                @media screen and (max-width: 700px) {
                    margin-left: 0;
                    
                }
                
            }

        }

        

    }



}