@import 'colors';
@import 'cleanup';
@import 'navmenu';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');




$side_margin: 10vw;
$top_margin: 5rem;

$side_margin_mobile: 2rem;
$top_margin_mobile: $side_margin_mobile;



body{
    background: $background_color;
    color: $font_color;
    font-family: 'Josefin Sans', sans-serif;



    




    #large-header{

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        @media screen and (max-width: 700px){
            background-attachment: unset;
        }
        color: white;

        width: 100vw;
        height: 100vh;

        padding-left: $side_margin;
        padding-top: $top_margin;
        padding-right: $side_margin;
        box-sizing: border-box;

        @media screen and (max-width: 700px), screen and (max-height: 600px) {
            padding-left: $side_margin_mobile;
            padding-right: $side_margin_mobile;
            padding-top: $top_margin_mobile;
        }

        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 5fr auto auto 6fr;
        @media screen and (max-width: 700px){
            grid-template-rows: 3fr auto auto 6fr;
        }





        #site-logo-block{

            $heights: 2rem;
            $heights_mobile: 2rem;
            $mobile_split_width: 60rem;

            display: flex;
            max-height: $heights;
            @media screen and (max-width: $mobile_split_width) {
                max-height: $heights_mobile;
            }
            align-items: flex-end;

            grid-row: 1 / 2;
            grid-column: 1 / 2;

            h2{
                color: white;
                display: inline;
                margin: 0;
                padding: 0;
                font-size: 1.3rem;
                line-height: 1em;
                margin-bottom: -8px;
                font-weight: 400;

                @media screen and (max-width: $mobile_split_width) {
                    font-size: 1.3rem;
                    margin-bottom: -8px;
                }

                a {
                    text-decoration: none;
                }

                a:visited{
                    text-decoration: none;
                }
            }
            img{
                height: $heights;
                @media screen and (max-width: $mobile_split_width) {
                    height: $heights_mobile;
                }
                display: block;
                margin-left: 2rem;
            }
        }








        #menu-block{
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            place-self: start end;
            
            margin-right: 5vw;

            @media screen and (max-width: 1200px) {
                margin-right: 0;
            }

            @media screen and (max-width: 500px) {
                margin-top: 8px;
            }

            #navmenu{
                ul{
                    padding-left: 0;
                    li{
                        padding-left: 0;
                        a{
                            padding-left: 2rem;
                        }
                    }
                }
            }
        }



        #pre-title-block{

            @media screen and (max-height: 600px) {
                margin-top: 3rem;
            }

            @media screen and (max-width: 700px) {
                margin-top: 1rem;
            } 

            grid-row: 2 / 3;
            grid-column: 1 / 2;
            h3{
                font-weight: 400;
                font-size: 1.4rem;
            }
        }




        #title-block{
            
            max-width: 60vw;
            margin-top: 2rem;
            @media screen and (max-height: 600px) {
                margin-top: 1rem;
            }

            grid-row: 3 / 4;
            grid-column: 1 / 3;
            

            h1{
                font-size: 5rem;
                font-weight: bold;
                line-height: 1.2em;

                @media screen and (max-width: 1400px) {
                    font-size: 3rem;
                }
            }
        }




        #under-title{
            grid-row: 4 / 5;
            grid-column: 1 / 3;

            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            align-content: flex-start;

            @media screen and (max-width: 600px) {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-rows: auto auto;

                a{
                    margin-bottom: 1rem;
                }
            }


            margin-top: 2rem;
            @media screen and (max-height: 600px) {
                margin-top: 1rem;
            }

            a{
                text-decoration: none;
                color: $accent_color;
                margin-right: 3rem;
            }

            span{
                margin-right: 3rem;
            }
        }







    }


    #footer{
        background: $blue_background;
        color: white;
        width: 100vw;

        padding-left: $side_margin;
        padding-top: $top_margin_mobile;
        padding-right: $side_margin;
        padding-bottom: $top_margin_mobile;
        box-sizing: border-box;
        display: flex;

        @media screen and (max-width: 700px), screen and (max-height: 600px) {

            padding-left: $side_margin_mobile;
            padding-right: $side_margin_mobile;
            padding-top: $top_margin_mobile;

            display: block;
        }

        #block1{
            #site-logo-block{

                $heights: 4.5rem;
                $heights_mobile: 2.5rem;
                $mobile_split_width: 60rem;
    
                display: flex;
                max-height: $heights;
                @media screen and (max-width: $mobile_split_width) {
                    max-height: $heights_mobile;
                }
                align-items: flex-end;
    
                grid-row: 1 / 2;
                grid-column: 1 / 2;
    
                h2{
                    color: white;
                    display: inline;
                    margin: 0;
                    padding: 0;
                    font-size: 2.6rem;
                    line-height: 1em;
                    margin-bottom: -15px;
                    font-weight: 400;
    
                    @media screen and (max-width: $mobile_split_width) {
                        font-size: 1.5rem;
                        margin-bottom: -8px;
                    }
                }
                img{
                    height: $heights;
                    @media screen and (max-width: $mobile_split_width) {
                        height: $heights_mobile;
                    }
                    display: block;
                    margin-left: 2rem;
                }
            }


            #nav-links{
                margin-top: 4rem;
                @media screen and (max-width: 700px), screen and (max-height: 600px) {
                    margin-top: 2rem;
                }
                ul{
                    list-style: none;
                    padding-left: 0;
                    li{
                        margin-bottom: 1rem;
                        @media screen and (max-width: 700px), screen and (max-height: 600px) {
                            margin-bottom: 1rem;
                        }
                        a{
                            color: white;
                            text-decoration: none;
                            border-bottom: 1px solid $accent_color;
                            padding-bottom: 4px;
                        }
                    }
                }
            }


        }



        #block2{
            max-width: 30rem;
            margin-left: 20rem;
            @media screen and (max-width: 1200px) {
                margin-left: 10rem;
            }
            @media screen and (max-width: 800px), screen and (max-height: 600px) {
                margin-left: 0;
                margin-top: 2rem;
            }            

            #home-link-block{
                margin-top: 2em;
                @media screen and (max-width: 700px), screen and (max-height: 600px) {
                    margin-top: 2rem;
                }
                a{
                    $horizontal_padding: 1.5rem;
                    $vertical_padding:0.5rem;

                    display: inline-block;
                    border: 1.3px solid white;
                    text-decoration: none;
                    color: white;

                    padding-left: $horizontal_padding;
                    padding-right: $horizontal_padding;
                    padding-top: $vertical_padding;
                    padding-bottom: $vertical_padding - 0.15rem;

                    transition: background 0.2s, color 0.2s;

                }

                a:hover{                    
                    background: white;
                    color: $blue_background;                    
                }
            }

        }

        





    }



}


