body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: $font_color;
}

a {
    color: inherit;
}


hr {
    box-sizing: content-box; 
    height: 0; 
    overflow: visible;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace; 
    font-size: 1em; 
}

small {
    font-size: 80%;
}