{% extends 'skeleton.html' %}

{% load static %}

{% block title %}{{ title }} - Sentient Pixels{% endblock %}
{% block ogtitle %}{{ title }} - Sentient Pixels{% endblock %}
{% block tctitle %}{{ title }} - Sentient Pixels{% endblock %}

<!-- DESCRIPTIONS -->
{% block metadescription %}{{ description }}{% endblock %}
{% block ogdescription %}{{ description }}{% endblock %}
{% block tcdescription %}{{ description }}{% endblock %}

<!-- OG/TC IMAGE -->
{% block ogimage %}{{ social_image }}{% endblock %}
{% block tcimage %}{{ social_image }}{% endblock %}

<!-- ogtype -->
{% block ogtype %}website{% endblock %}

<!-- ogurl -->
{% block ogurl %}{{ ogurl }}{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block pre-title %}{{ pretitle }}{% endblock %}
{% block big-title %}{{ title }}{% endblock %}
{% block under-title %}
                <a href="{% url 'index' %}">HOME</a>
                <a href="https://sentient-pixels.com">SENTIENT-PIXELS</a>
{% endblock %}

{% block body %}
    <h3 class="section-header">About SP-Travel</h3>
    {{ content | safe }}

{% endblock %}