{% extends 'skeleton.html' %}

{% load static %}

{% block title %}{{ title }} - Sentient Pixels{% endblock %}
{% block ogtitle %}{{ title }} - Sentient Pixels{% endblock %}
{% block tctitle %}{{ title }} - Sentient Pixels{% endblock %}

{% block metadescription %}
    {{ description }}
{% endblock %}
{% block ogdescription %}
    {{ description }}
{% endblock %}
{% block tcdescription %}
    {{ description }}
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block pre-title %}{{ pretitle }}{% endblock %}
{% block big-title %}{{ title }}{% endblock %}
{% block under-title %}
                <a href="{% url 'index' %}">HOME</a>
                <a href="https://sentient-pixels.com">SENTIENT-PIXELS</a>
{% endblock %}

{% block body %}
    {{ content | safe }}

    <div id="people-list">

        <h3 class="section-header">Authors</h3>
        {% for author in authors %}
            <div class="person">
                <img class="person-dp lozad" data-src="{{ author.display_picture.url }}" />
                <div class="person-info-block">
                    <h4 class="person-name">{{ author.name }}</h4>
                    <p>
                        {{ author.bio | safe }}
                    </p>
                </div>
            </div>
        {% endfor %}


    </div>
{% endblock %}