{% extends 'skeleton.html' %}

{% load static %}

{% block title %}Sentient Pixels{% endblock %}
{% block ogtitle %}Sentient Pixels{% endblock %}
{% block tctitle %}Sentient Pixels{% endblock %}

{% block metadescription %}
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae eligendi sapiente vel minima ex cumque qui esse eos mollitia veniam?    
{% endblock %}
{% block ogdescription %}
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae eligendi sapiente vel minima ex cumque qui esse eos mollitia veniam?    
{% endblock %}
{% block tcdescription %}
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae eligendi sapiente vel minima ex cumque qui esse eos mollitia veniam?    
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block pre-title %}Welcome to SP-Travel{% endblock %}
{% block big-title %}A Travel, Photography and Trekking Blog{% endblock %}
{% block under-title %}
                <a href="#">BLOG</a>
                <a href="#">PHOTOGRAPHY</a>
                <a href="#">PLACES</a>
                <a href="#">GUIDES</a>
{% endblock %}


{% block body %}
                
                    
                {% for section in sections %}
                    <div class="posts-section">

                        <h2>{{section.name}}</h3>

                        <div class="posts-list">
                            {% for post in section.posts %}
                                <div class="post">

                                    <img class="lozad" data-src="{{ post.header_image }}"/>
                                    <h3>{{ post.title }}</h3>
                                    <p>
                                        {{ post.preview | safe }}
                                    </p>
                                    
                                    <a href="#" class="post-info-item place-link">Uttarakhand</a>
                                    <span class="post-info-item">24th August, 2020</span>
                                    <span class="post-info-item"><i class="fas fa-eye"></i> 27</span>

                                    <a href="{% url 'post' post.slug %}" class="read-post-link">READ</a>
                                    
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                {% endfor %}

                
{% endblock %}