{% extends 'skeleton.html' %}

{% load static %}

{% block title %}Sentient Pixels{% endblock %}
{% block ogtitle %}Sentient Pixels{% endblock %}
{% block tctitle %}Sentient Pixels{% endblock %}

{% block metadescription %}
    {{ description }}
{% endblock %}
{% block ogdescription %}
    {{ description }}
{% endblock %}
{% block tcdescription %}
    {{ description }}
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block pre-title %}{{ pretitle }}{% endblock %}
{% block big-title %}{{ title }}{% endblock %}
{% block under-title %}
                <a href="{% url 'posts' 'category' 'blog' %}">BLOG</a>
                <a href="{% url 'posts' 'category' 'photography' %}">PHOTOGRAPHY</a>
                <a href="#">PLACES</a>
                <a href="{% url 'posts' 'category' 'guide' %}">GUIDES</a>
{% endblock %}




{% block body %}
                
                    
                {% for section in sections %}
                    <div class="posts-section">

                        <h2>{{section.name}}</h3>

                        <div class="posts-list">
                            {% for post in section.posts %}
                                <div class="post">

                                    <img class="lozad" data-src="{{ post.header_image.url }}"/>
                                    <h3>{{ post.title }}</h3>
                                    <p>
                                        {{ post.preview | safe }}
                                    </p>
                                    
                                    <a href="{% url 'posts' 'place' post.place.slug %}" class="post-info-item place-link">{{ post.place }}</a>
                                    <span class="post-info-item">{{ post.hfr_date }}</span>
                                    <span class="post-info-item"><i class="fas fa-eye"></i> {{ post.views }}</span>

                                    <a href="{% url 'post' post.slug %}" class="read-post-link">READ</a>
                                    
                                </div>
                            {% endfor %}

                        </div>

                        <a href="#" class="more-like-this-link">More Like This</a>
                    </div>
                {% endfor %}

                
{% endblock %}