{% extends 'skeleton.html' %}

{% load static %}

{% block title %}{{ post.title}} - Sentient Pixels{% endblock %}
{% block ogtitle %}{{ post.title}} - Sentient Pixels{% endblock %}
{% block tctitle %}{{ post.title}} - Sentient Pixels{% endblock %}

{% block metadescription %}
    {{ post.preview }}
{% endblock %}
{% block ogdescription %}
    {{ post.preview }}
{% endblock %}
{% block tcdescription %}
    {{ post.preview }}
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}



{% block pre-title %}SP-Travel{% endblock %}
{% block big-title %}{{ post.title }}{% endblock %}
{% block under-title %}
                    <a href="{% url 'posts' 'place' post.place.slug %}" target="_blank">{{ post.place }}</a>
                    <span>{{ post.hfr_date }}</span>
                    <a href="{% url 'posts' 'category' category.slug %}" target="_blank">{{ category.name }}</a>
                    <span class="post-info-item"><i class="fas fa-eye"></i> {{ post.views }}</span>
{% endblock %}




{% block body %}


                <!-- THE POST ITSELF -->
                <div id="post-info">
                    {% for author in authors %}
                        <h4 class="post-author">{{ author.name }}</h4>
                    {% endfor %}
                    <h4 id="post-date">{{ post.hfr_date }}</h4>                    
                </div>

                <div id="post-body">
                    {{ post.content | safe }}
                </div>


                <!-- RELATED POSTS -->
                <div id="related-posts">
                    <h3 class="section-heading">If you liked this,</h3>
                    <div id="related-posts-grid">
                        {% for p in related_posts %}
                        <div class="post">

                            <img class="lozad" data-src="{{ p.header_image.url }}"/>
                            <h3>{{ p.title }}</h3>

                            <a href="#" class="post-info-item place-link">{{ p.place.name }}</a>
                            <span class="post-info-item">24th August, 2020</span>
                            <span class="post-info-item"><i class="fas fa-eye"></i> {{ p.views }}</span>

                            <a href="{% url 'post' p.slug %}" class="read-post-link">READ</a>
                            
                        </div>
                    {% endfor %}
                    </div>                    
                </div>



                <!-- ABOUT THE AUTHORS -->
                <div id="about-authors">
                    <h3 class="section-heading">About The Authors</h3>
                    {% for author in authors %}
                        <div class="person">
                            <img class="person-dp lozad" data-src="{{ author.display_picture.url }}" />
                            <div class="person-info-block">
                                <h4 class="person-name">{{ author.name }}</h4>
                                <p>
                                    {{ author.bio | safe }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>




                <!-- COMMENTS -->
                <div id="comment-section">
                    <h3 class="section-heading">Leave a comment</h3>

                    <script defer src="https://commento.sentient-pixels.com/js/commento.js"></script>
                    <div id="commento"></div>


                    {% comment %}
                        <form method="POST" id="comment-form">
                            {% csrf_token %} 
                            <textarea form="comment-form" placeholder="Type Comment Here" name="comment_area"></textarea>
                            <input type="text" placeholder="Name to Display" name="name_input" id="name-input"/>
                            <input type="email" placeholder="Email Address (Will Not Be Shown)" name="email_input" id="email-input"/>
                            <input type="submit" value="POST" id="submit-input"/>
                        </form>
                    
                        <div id="comments">
                        
                            {% for comment in comments %}
                                <div class="comment-block">
                                    <p class="comment-body">
                                        {{ comment.content | safe}}
                                    </p>
                                    <div class="comment-info">
                                        <span>@{{ comment.username | safe }}</span>
                                        <span>{{ comment.hfr_date | safe }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        
                        </div>
                    {% endcomment %}
                </div>


{% endblock %}