{% extends 'skeleton.html' %}

{% load static %}

{% block title %}{{ section }} - Sentient Pixels{% endblock %}
{% block ogtitle %}{{ section }} - Sentient Pixels{% endblock %}
{% block tctitle %}{{ section }} - Sentient Pixels{% endblock %}

<!-- DESCRIPTIONS -->
{% block metadescription %}{{ description }}{% endblock %}
{% block ogdescription %}{{ description }}{% endblock %}
{% block tcdescription %}{{ description }}{% endblock %}

<!-- OG/TC IMAGE -->
{% block ogimage %}{{ social_image }}{% endblock %}
{% block tcimage %}{{ social_image }}{% endblock %}

<!-- ogtype -->
{% block ogtype %}website{% endblock %}

<!-- ogurl -->
{% block ogurl %}{{ ogurl }}{% endblock %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block pre-title %}SP-Travel{% endblock %}
{% block big-title %}{{ section }}{% endblock %}
{% block under-title %}
                {% for category in categories %}
                <a href="{% url 'posts' 'category' category.slug %}">{{ category.name.upper }}</a>
                {% endfor %}
                <a href="{% url 'places' %}">PLACES</a>
{% endblock %}


{% block body %}             
                    
                
                

                <h2>{{ section.upper }}</h3>

                <div class="posts-list">
                    {% for post in posts %}
                        <div class="post">

                            <img class="lozad" data-src="{{ post.header_image.url }}"/>
                            <h3>{{ post.title }}</h3>
                            <p>
                                {{ post.preview | safe }}
                            </p>
                            
                            <a href="{% url 'posts' 'place' post.place.slug %}" class="post-info-item place-link">{{ post.place }}</a>
                            <span class="post-info-item">{{ post.hfr_date }}</span>
                            <span class="post-info-item"><i class="fas fa-eye"></i> {{ post.views }}</span>

                            <a href="{% url 'post' post.slug %}" class="read-post-link">READ</a>
                            
                        </div>
                    {% endfor %}                    
                </div>


                <!-- PAGINATION -->
                <div id="pagination">
                    {% if page_obj.has_previous %}
                        <div id="newer" class="pagination-item">
                            <a href="{% url 'posts' category page_obj.previous_page_number %}"><i class="fas fa-arrow-left"></i> newer</a>
                        </div>
                        {% if page_obj.has_next %}
                            <div id="current-page" class="pagination-item">
                                page {{ page_obj.number }}
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if page_obj.has_next %}
                        <div id="older" class="pagination-item">
                            <a href="{% url 'posts' category page_obj.next_page_number %}">older <i class="fas fa-arrow-right"></i></a>
                        </div>
                    {% endif %}
                </div>
                
                
{% endblock %}