{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block metadescription %}{% endblock %}"/>
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
        <script src="https://kit.fontawesome.com/d8749e6d0b.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>



        <!-- OPENGRAPH TAGS -->
        {% comment %} OPENGRAPH META TAGS {% endcomment %}
        <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
        <meta property="og:description" content="{% block ogdescription %}{% endblock %}"/>
        <meta property="og:url" content="{% block ogurl %}{% endblock %}" />
        <meta property="og:image" content="{% block ogimage %}{% endblock %}" />
        <meta property="og:type" content="{% block ogtype %}{% endblock %}" />



        
        <!-- TWITTER LARGE CARD META TAGS -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:creator" content="@_abdullahalam_" />
        <meta name="twitter:title" content="{% block tctitle %}{% endblock %}"/>
        <meta name="twitter:description" content="{% block tcdescription %}{% endblock %}"/>
        <meta name="twitter:image" content="{% block tcimage %}{% endblock %}"/>







        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

        {% block head %}{% endblock %}


        <!-- DYNAMIC STYLES -->
        <style>
            #large-header{
                background: 
                    linear-gradient(rgba(7, 40, 66, 0.5), rgba(7, 40, 66, 0.5)),
                    url({{ header_image }});
                }
        </style>


    </head>
    <body>
        <div id="main">


            <!-- THE LARGE HEADER UP TOP -->
            <header id="large-header">

                <!-- SITE TITLE AND LOGO SECTION -->
                <div id="site-logo-block">
                    <h2>
                        SENTIENT <br>
                        PIXELS
                    </h2>
                    <img src="{% static 'img/sp-logo.svg' %}" />
                </div>


                <!-- NAVMENU -->
                <div id="menu-block">
                    <a href="#navmenu" class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <nav id="navmenu">
                        <a href="#" class="closebutton">X</a>
                    
                        <ul>
                            <li>
                                <a href="#">PLACES</a>
                            </li>
                            <li>
                                <a href="#">POSTS</a>
                            </li>
                            <li>
                                <a href="{% url 'about' %}">ABOUT</a>
                            </li>
                            <li>
                                <a href="{% url 'index' %}">HOME</a>
                            </li>    
                        </ul>
                    </nav>
                </div>


                <!-- PRE-TITLE -->
                <div id="pre-title-block">
                    <h3>
                        {% block pre-title %}{% endblock %}
                    </h3>
                </div>



                <!-- TITLE -->
                <div id="title-block">
                    <h1>
                        {% block big-title %}{% endblock %}
                    </h1>
                </div>



                <!-- UNDERL-TITLE -->
                <div id="under-title">
                    {% block under-title %}
                    {% endblock %}
                </div>



                
            </header>
            <!-- END OF LARGE HEADER -->

            <!-- BEGIN CONTENT BLOCK -->
            <div id="content">
                {% block body %}{% endblock %}
            </div>
            <!-- END CONTENT BLOCK -->

            <!-- FOOTER -->
            <footer id="footer">


                <div id="block1">
                    <div id="site-logo-block">
                        <h2>
                            SENTIENT <br>
                            PIXELS
                        </h2>
                        <img src="{% static 'img/sp-logo.svg' %}" />
                    </div>
                    <div id="nav-links">
                        <ul>
                            <li>
                                <a href="#">PLACES</a>
                            </li>
                            <li>
                                <a href="#">POSTS</a>
                            </li>
                            <li>
                                <a href="#">ABOUT</a>
                            </li>
                            <li>
                                <a href="#">HOME</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div id="block2">
                    <div id="info-block">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae temporibus quibusdam dolorem natus enim sunt exercitationem et alias? Veniam commodi error, omnis aspernatur odit maxime laudantium tempora inventore atque officiis reprehenderit! Aperiam omnis fugit facere ut quaerat dolores veniam harum!
                    </div>
                    <div id="home-link-block">
                        <a href="https://sentient-pixels.com">SENTIENT-PIXELS HOME</a>
                    </div>
                </div>
                

            </footer>
        </div>



        <!-- LAZY LOAD  -->
        <script type="text/javascript" src="{% static 'js/observe_lozad.js' %}"></script>
    </body>
</html>
