{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block metadescription %}{% endblock %}"/>
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
        <script src="https://kit.fontawesome.com/d8749e6d0b.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>



        <!-- OPENGRAPH TAGS -->
        {% comment %} OPENGRAPH META TAGS {% endcomment %}
        <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
        <meta property="og:description" content="{% block ogdescription %}{% endblock %}"/>
        <meta property="og:url" content="{% block ogurl %}{% endblock %}" />
        <meta property="og:image" content="{% block ogimage %}{% endblock %}" />
        <meta property="og:type" content="{% block ogtype %}{% endblock %}" />



        
        <!-- TWITTER LARGE CARD META TAGS -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:creator" content="@_abdullahalam_" />
        <meta name="twitter:title" content="{% block tctitle %}{% endblock %}"/>
        <meta name="twitter:description" content="{% block tcdescription %}{% endblock %}"/>
        <meta name="twitter:image" content="{% block tcimage %}{% endblock %}"/>

        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

        {% block head %}{% endblock %}


        <!-- DYNAMIC STYLES -->
        <style>
            #large-header{
                background: 
                    linear-gradient(rgba(7, 40, 66, 0.5), rgba(7, 40, 66, 0.5)),
                    url({{ header_image }});
                }
        </style>


        <!-- FATHOM ANALYTICS -->
        <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
        <script>
            (function(f, a, t, h, o, m){
                a[h]=a[h]||function(){
                    (a[h].q=a[h].q||[]).push(arguments)
                };
                o=f.createElement('script'),
                m=f.getElementsByTagName('script')[0];
                o.async=1; o.src=t; o.id='fathom-script';
                m.parentNode.insertBefore(o,m)
            })(document, window, '//fathom.sentient-pixels.com/tracker.js', 'fathom');
            fathom('set', 'siteId', 'QIOCS');
            fathom('trackPageview');
        </script>
            <!-- / Fathom -->


    </head>
    <body>
        <div id="main">


            <!-- THE LARGE HEADER UP TOP -->
            <header id="large-header">

                <!-- SITE TITLE AND LOGO SECTION -->
                <div id="site-logo-block">
                    
                    <h2>
                        <a href="{% url 'index' %}">SENTIENT <br>
                        PIXELS</a>
                    </h2>
                    <img src="{% static 'img/sp-logo.svg' %}" />
                
                </div>


                <!-- NAVMENU -->
                <div id="menu-block">
                    <a href="#navmenu" class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                    <nav id="navmenu">
                        <a href="#" class="closebutton">X</a>
                    
                        <ul>
                            <li>
                                <a href="{% url 'places' %}">PLACES</a>
                            </li>
                            <li>
                                <a href="{% url 'posts' 'all' %}">POSTS</a>
                            </li>
                            <li>
                                <a href="{% url 'about' %}">ABOUT</a>
                            </li>
                            <li>
                                <a href="{% url 'index' %}">HOME</a>
                            </li>    
                        </ul>
                    </nav>
                </div>


                <!-- PRE-TITLE -->
                <div id="pre-title-block">
                    <h3>
                        {% block pre-title %}{% endblock %}
                    </h3>
                </div>



                <!-- TITLE -->
                <div id="title-block">
                    <h1>
                        {% block big-title %}{% endblock %}
                    </h1>
                </div>



                <!-- UNDERL-TITLE -->
                <div id="under-title">
                    {% block under-title %}
                    {% endblock %}
                </div>



                
            </header>
            <!-- END OF LARGE HEADER -->

            <!-- BEGIN CONTENT BLOCK -->
            <div id="content">
                {% block body %}{% endblock %}
            </div>
            <!-- END CONTENT BLOCK -->

            <!-- FOOTER -->
            <footer id="footer">


                <div id="block1">
                    <div id="site-logo-block">
                        <h2>
                            SENTIENT <br>
                            PIXELS
                        </h2>
                        <img src="{% static 'img/sp-logo.svg' %}" />
                    </div>
                    <div id="nav-links">
                        <ul>
                            <li>
                                <a href="{% url 'places' %}">PLACES</a>
                            </li>
                            <li>
                                <a href="{% url 'posts' 'all' %}">POSTS</a>
                            </li>
                            <li>
                                <a href="{% url 'about' %}">ABOUT</a>
                            </li>
                            <li>
                                <a href="{% url 'privacy' %}">PRIVACY</a>
                            </li>
                            <li>
                                <a href="{% url 'index' %}">HOME</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div id="block2">
                    <div id="info-block">
                        <p>
                            SP-Travel is travel blog with a focus on photography and trekking. It is a place for travellers to share their stories, experiences and photographs.
                        </p>
                        <p>
                            Built by Abdullah, part of the Sentient-Pixels Project.
                        </p>
                    </div>
                    <div id="home-link-block">
                        <a href="https://sentient-pixels.com">SENTIENT-PIXELS HOME</a>
                    </div>
                </div>
                

            </footer>
        </div>



        <!-- LAZY LOAD  -->
        <script type="text/javascript" src="{% static 'js/observe_lozad.js' %}"></script>
    </body>
</html>
